# Node modules downloaded during testing
/node_modules/

# History files
**/*.Rhistory

# Session Data files
**/*.RData

# Output files from R CMD build
**/*.tar.gz

# Output files from R CMD check
*.Rcheck/
**/*.Rcheck/

# Output files from R CMD batch
*.Rbatch

# PDF documentation
*.pdf
**/*.pdf

# VSCode project files
/.vscode/
